/* Ensure the root and body elements allow scrolling */
:root {
  --red: rgb(208, 67, 12);
  --base-bg: #ffffff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.archive-view {
  flex: 1; /* Ensures the view takes full height */
  overflow-y: auto; /* Enables scrolling */
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
